@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Poppins:ital@0;1&display=swap');
.login{
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #172434;
}
.loginpic{
  flex: 1;
  height: 100vh;
}
.contactform {
    flex:1;
   height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .contactform form {
    flex: 1;
    width: 100%; 
    display: flex;
    flex-direction: column;}
  .content{
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: "poppins";
    margin-bottom: 20px;
  }
  h1 span{
    font-family: "fuggles";
    color: #efb764;
    font-size: 1.9rem;
  }

  
  input,
  textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    font-family: "Poppins";
    border-bottom: 2px solid #efb764;
    background-color: transparent;
    color: white;
  }
  .btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
button {
    background-color: #ca9349;
    font-family: "Poppins";
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
button:hover {
    background-color: #efb764;
  }
  .error{
    color: red;
    font-family: "poppins";
  }
  .welcome{
    width: 100vw;
    height: 100vh;
    background-color: #172434;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    font-family: "poppins";
    color:white;
  }
  .loader-container {
    width: 20px;
    height: 20px;
    background-color: #172434; /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's on top of other content */
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light gray border */
    border-top: 4px solid #ca9349; /* Blue border on top */
    border-radius: 50%; /* Create a circular loader */
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite; /* Rotation animation */
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Responsive design */
  @media (max-width: 830px) {
    .login{
      flex-direction: column;
      width: 100vw;
      align-items: center;
      height: 100vh;
    }
    .loginpic{
      flex: 1;
      width: 90vw;
      max-height: 60vh;
    }
    .contactform {
        flex:2;
      }
    
  }
  ::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #efb764; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners of the thumb */
  }
  
  /* Customize the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ca9349; /* Color on hover */
  }
  
  